<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mesutpiskin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Launcher"
        >
        
        <activity
            android:name="com.mesutpiskin.HomeActivity"
            android:label="Launcher"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
        <activity
            android:name="com.mesutpiskin.AppsListActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            >            
        </activity>
        
    </application>

</manifest>
